@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

main{
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Poppins';
  background-color: white;
  color: #fff;
}

header, #principal, #second, #contato, #stream {
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.link-menu {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 10%;
  background-color: #555;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}

p{
  text-align: justify;
  width: 450px;
}


main {
  background-color: #333;
  color: #ddd;
}

h1, h2 {
  font-family: 'Amatic SC';
  font-size: 40px;
  text-align: end;
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#logo{
  width: 150px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.item-menu{
  padding: 1.6rem;
  margin: 0 5px;
}

nav{
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 15px;
}

#menu{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


main #principal{
  gap: 70px;
  padding: 30px;
}

figure{
  display: flex;
  flex: 1;
  justify-content: end;

  /*
  justify-content: flex-end;
  */
}

figure img{
  max-width: 300px;
  /*
  width: 300px;
  */
}

#sec_ctd{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
  width: 700px;
}

#second a{
  background-color: #fff;
}

.cartaz{
  margin: 100px 0px;
}

.capa{
  max-width: 200px;
}
